@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Roboto+Slab&display=swap");
$font-family-url: "Roboto Slab", serif;
$font-family-miras: "Mukta", sans-serif;
$text-color: rgb(14, 8, 0);
$background: #48beec;
$miras-ga: #1a1717;
$Mui-disabled: #3a64da !important;
